.curie {
    overflow: auto;
    max-height: 100vh;
    padding-right: 2rem;
    position: relative;

    &::-webkit-scrollbar {
        display: block;
        width: .2rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(156, 13, 57, .6);
        border-right: none;
        border-left: none;
    }

    &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 0;
    }

    &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 17rem;
    }

    .curie__name {
        text-transform: capitalize;
        font-size: 3.2rem;
        font-weight: 700;
        color: var(--primary-color)
    }

    .curie__apply-position {
        font-size: 1.8rem;
        font-weight: 400;
        color: #999
    }

    .avatar {
        height: 14rem;
    }

    .curie__overview-wrapper {
        width: calc(50% - .5rem);
    }

    .curie__overview-label {
        font-size: 1.4rem;
        font-weight: 500;
        color: #666;
        text-transform: capitalize;
    }

    .curie__overview-text {
        font-size: 1.4rem;
        font-weight: 400;
        color: #999;

        & a {
            color: #666
        }
    }

    .curie__heading-wrapper {
        position: relative;
        margin-top: 4rem;
        margin-bottom: 2rem;

        &.curie__heading-wrapper--lower-top {
            margin-top: 3rem;
        }

        &:before {
            content: "";
            background-color: var(--primary-color);
            height: .2rem;
            width: 100%;
            top: 100%;
            position: absolute;
            border-radius: .2rem;
        }
    }

    .curie__heading {
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: unset;
    }

    .curie__content-li {
        color: #999;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .curie__small-heading {
        min-width: 8rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #666;
        padding-right: 1rem
    }

    .sticky {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1000;
    }

    .higher-bottom {
        margin-bottom: 4rem;
    }

    td {
        list-style: circle;
    }
}

.reference-heading {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
}

.reference-ul {
    list-style: none;
    display: inline-flex;
    gap: 1rem;

    .reference-li {}

    .reference-a {
        font-size: 1.2rem;
        display: block;
        margin-top: .5rem;
        padding: 1rem;
        border: .1rem solid #ddd;
        border-radius: 1rem;
        color: #999;
        text-decoration: none;
    }
}